<% content_for :page_css do %>

		<%= stylesheet_link_tag('dynatree/dynatree')%>
		<%= stylesheet_link_tag('phenotype_selector')%>
<% end %>

<% content_for :page_js do %>

		<%= javascript_include_tag('jquery.cookie') %>
		<%= javascript_include_tag('jquery.dynatree') %>
		<%= javascript_include_tag('phenotype_selector') %>

		
<% end %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span5 offset1">
			<div class="row-fluid">
				<div class="navbar">
					<div><!--<div class="navbar-inner">-->
						<form class="navbar-search">
						<span class="selection-title">Pathology Selection</span>
						<input type="text" id="mpath_search" class="search-query" placeholder="Search by term or ID">
						</form>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div id="mpath_tree"></div>
			</div>
		</div>
		<div class="span5">
			<div class="row-fluid">
				<div class="navbar">
					<div><!--<div class="navbar-inner">-->
						<form class="navbar-search">
						<span class="selection-title">Anatomy Selection</span>
						<input type="text" id="anat_search" class="search-query" placeholder="Search by term or ID">
						</form>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div id="anat_tree"></div>
			</div>
		</div>
	</div>
</div>

<div id="submit-right" onClick="lookup();">
	<a href="#" id="submit-right-tooltip" rel="tooltip" data-placement="left" data-original-title="View">
		<img src="/assets/go-right.png"></img>
	</a>
</div>
