<% content_for :page_js do %>
	<script src="http://yui.yahooapis.com/3.7.3/build/yui/yui-min.js"></script>
	<%= javascript_include_tag('underscore') %>
<% end %>

<h4>Pathology:</h4><%=PathBaseTerm.find(@mpath_id).term%><h4>Anatomy:</h4><%=MouseAnatomyTerm.find(@anat_id).term %>
<hr>

<table id = "strains" class = "table table-striped">
</table>


<script>
$(document).ready(function () 
{
	var mpath = <%= @mpath_id %>;
	var anat = <%= @anat_id %>;
	var youngest = 0;
	var oldest = 999;
	var sex = 'B';
	lookup(mpath, anat, youngest, oldest, sex);

});

function lookup(mpath, anat, youngest, oldest, sex)
{
	var url = "/phenotypes/query?MPATH=" + mpath + "&MA=" + anat + "&youngest=" + youngest + "&oldest=" + oldest + "&sex=" + sex;
	//
	$.ajax(
	{
		// Send the request as a get to the url /generate/job_id?image_tag
		type:"get",
		url: url, 
		datatype:"json",
		success: function(data) { generate_table(data); },
		error: function(XMLHttpRequest, textStatus, errorThrown) { alert("Status: " + textStatus); alert("Error: " + errorThrown);},
	});
}

function generate_table(data)
{
	var strains = _.uniq(_.pluck(data,'strain'));
	var grouped_by_strain = _.toArray(_.groupBy(data, function(item){ return _.indexOf(strains, item['strain']); }))
	
	var table = new Array(), i = 0;
	table[i++] = '<tr><th>Strain</th><th>Number of Mice</th></tr>'
	for (var group_num = 0; group_num < grouped_by_strain.length; group_num++)
	{
		table[i++] ='<tr><td>';
		table[i++] = grouped_by_strain[group_num][0]['strain'];
		table[i++] = '</td><td>';
		table[i++] = grouped_by_strain[group_num].length;
		table[i++] = '</td></tr>';

	}
	$('#strains').append(table.join(''));

}
</script>
