<% content_for :page_css do %>

<% end %>
<% content_for :page_js do %>
<script>
			var MPATH = <%= @mpath_id %>;
			var ANAT = <%= @anat_id %>;
			var STRAINS = [<%= raw @selelected_strains %>];
			var YOUNGEST = <%= @youngest.nil? ? "null":@youngest %>;
			var OLDEST = <%= @oldest.nil? ? "null":@oldest %>;
			var CODE = '<%= @code.nil? ? "":@code %>';
			var SEX = '<%= @sex.nil? ? "B":@sex %>';
			var ID = '<%= @job_id %>';
		</script>
		<%= javascript_include_tag('main') %>
		<%= javascript_include_tag('underscore') %>
		<%= javascript_include_tag('phenotype_submit') %>
<% end %>

<style type="text/css">
#submit-right
{
	position: fixed;
	top: 50%;
	right: 0%;
	z-index: 100;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: #888;
	opacity: .25;

}
#submit-right img
{
	height: 50px;
}
#submit-left
{
	position: fixed;
	top: 50%;
	left: 0%;
	z-index: 100;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background: #888;
	opacity: .25;

}
#submit-left img
{
	height: 50px;
}
</style>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
				<div class="row-fluid">
					<h4> Phenotype Selections</h4>
				</div>
				<div class="row-fluid">
					<table class="table table-striped">
						<tr>
							<td><b>Pathology</b></td>
						</tr>
						<tr>
							<td><%=PathBaseTerm.find(@mpath_id).term%></td>
						</tr>
						<tr>
							<td><b>Anatomy</b></td>
						</tr>
						<tr>
							<td><%=MouseAnatomyTerm.find(@anat_id).term %></td>
						</tr>
						<tr>
							<td><b>Age Range</b></td>
						</tr>
						<tr>
							<td><%=@youngest %> - <%=@oldest%></td>
						</tr>
						<tr>
							<td><b>Sex</b></td>
						</tr>
						<tr>
							<td><%= @sex_long[@sex] %></td>
						</tr>
					</table>
				</div>
		</div>
		<div class="span9">
			<div class="row-fluid">
					<h4> Statistical Summary</h4>
				</div>
				<div class="row-fluid">
					<table id="stat-table" class="table table-hover">
						<tr>
							<th> Strain </th>
							<th> # animals </th>
							<th> Frequency Value </th>
							<th> Mean Severity Value </th>
							<th> Severity Standard Error </th>
							<th> Significance Groupings </th>
						</tr>
						<% @selected_strains.each do |strain| %>
						<tr>
							<td class="strain"><%= strain %></td>
							<td><%= @ns[strain] %></td>
							<td><%= ((@frequencies[strain]*1000).to_i.to_f/10).to_s+"%" %>
						</tr>
						<% end %>
					</table>
				</div>
		</div>
	</div>
</div>


<div id="submit-left" onClick="window.history.back();">
	<span id="submit-left-tooltip" rel="tooltip" data-placement="right" data-original-title="Reselect Phenotype" >
		<img src="/assets/go-left.png"></img>
	</span>
</div>
<div id="submit-right">
	<a href="#" id="submit-right-tooltip" rel="tooltip" data-placement="left" data-original-title="Submit this data for Genotype Association.">
		<img src="/assets/go-right.png"></img>
	</a>
</div>

<div id="please-wait" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-header">
		<h4 id="myModalLabel">Generating Statistics</h4>
	</div>
	<div class="modal-body">
		<p>Severity statistics are being generated, please wait a few seconds...</p>
	</div>
</div>

