
<% flash.each do |alert_type, notice| %>
flash_notice("<%= notice %>", "<%= alert_type %>");
<% end %>

$("#new-datafile").html("<%= escape_javascript(render :partial => 'users/datafile_form', :locals => { user: @user, datafile: @datafile }) %>");

<% if not @datafile.valid? %>
	<% @datafile.errors.messages.each do |field, errors| %>
		<% if errors.any? %>
			<% if field == :filename %><% field = :datafile %><% end %>
			var field = $('#new-datafile #datafile_<%= field %>');
			field.parent().parent().addClass('error');
			<% errors.each do |error| %>
				field.after("<p class='help-block'><%= error %></p>")
			<% end %>
		<% end %>
	<% end %>
<% else %>
	$("#new-datafile").modal('hide');
	update_div('#datafile-panel');
<% end %>

// Attach some file upload functionality
$('#new-datafile :file').change(function()
{
	var file = this.files[0];
	if(file.name.length < 1 || file.size < 1) 
	{
		alert("The file appears empty.");
		$('#new-datafile :submit').attr('disabled','disabled');
	}
	else if(file.size > 1048576)
	{
		alert("Please limit file uploads to 1Mb.");
		$('#new-datafile :submit').attr('disabled','disabled');
	}
	else
	{
		$('#new-datafile :submit').removeAttr('disabled','');
		$('#new-datafile :submit').live('click', function(){ ajax_form_submit('#new-datafile'); return false; });
	}
});
// Reattach the :remote=>true form submit functionality
attach_submit('#new-datafile');


/*
$('#new-datafile input:submit').on('click', function()
{
	var formData = new FormData($('#new-datafile form')[0]);
	$.ajax({
		type: 'post',
		url: $('#new-datafile form').attr('action'), //sumbits it to the given url of the form
		data: formData,
		dataType: 'script',
		cache: false,
		contentType: false,
		processData: false
	});
	return false;
});
*/

// Reattach chosen handler
$('#datafile_group_ids').chosen({ min_search_term_length: 2 });
$('#datafile-new').chosen({ min_search_term_length: 2 });