
<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<%= render 'group_info', group: group %>
		</div>
		<!--
		<div class="row-fluid">
			<%= render 'shared/stats', group: group %>
		</div>
	-->
	</div>
</div>
<hr>

<div id="member-panel" class="row-fluid">
	<%= render 'member_panel' %>
</div>
<hr>


<div id= "datafile-panel" class="row-fluid">
	<%= render 'shared/datafile_panel', viewer: @group %>
</div>
<hr>


<div id= "job-panel" class="row-fluid">
	<%= render 'shared/job_panel', viewer: @group %>
</div>