
					<div class="row-fluid my-user">
						<h3> Members (<%= members.count %>)
							<span id="group-add" class="btn btn-primary">
								Add
							</span>
							<span id="group-manage" class="btn btn-primary">
								Manage
							</span>
						</h3>
						<div>
							<ul class="users">
								<%= render members %>
							</ul>
							<%= will_paginate members, :param_name => 'members_paginate' %>
						</div>
					</div>
					<hr>

					<div class="row-fluid">
						<h3> Tasks (<%= tasks.count %>)
							<span id="add-task" class="btn btn-primary">
								Add
							</span>
						</h3>
						<div id="new-task" style="display:none">
							<%= render 'shared/task_form', task: task %>
							<hr>
						</div>
					</div>

					<div class="row-fluid">
						<% if tasks.any? %>
							<ol class="tasks">
								<%= render :partial =>'shared/task', :collection => tasks %>
							</ol>
						<%= will_paginate tasks, :param_name => 'tasks_paginate' , :inner_window => 1, :outer_window => 1 %>
						<% end %>
					</div>


