// Flash any notices
<% flash.each do |alert_type, notice| %>
flash_notice("<%= notice %>", "<%= alert_type %>");
<% end %>

//("#new-group").html("<%= escape_javascript(render :partial => 'groups/group_form', :locals => { preselected: @preselected, group: @group }) %>");

// Display any form errors
<% if not @group.valid? %>
	<% @group.errors.messages.each do |field, errors| %>
		<% if errors.any? %>
			<% if field == :users %><% field = 'user_ids' %><% end %>
			var field = $('#new-group #group_<%= field %>');
			field.parent().parent().addClass('error');
			<% errors.each do |error| %>
				field.parent().after("<p class='help-block'><%= error %></p>")
				
			<% end %>
		<% end %>
	<% end %>
<% else %>
	$("#new-group").modal('hide');
	update_div('#group-panel');
	// This should be removed once the #group-managament div is light enough to be done via AJAX
	//location.reload();
<% end %>

// Reinitialize the group management modal so button clicks work. 
attach_submit('#new-group');
// Reattach chosen handler
$('#group_user_ids').chosen({ min_search_term_length: 2 });

