<% @page_title = "Group Creation" %>

<% content_for :page_css do %>
<% end %>
<% content_for :page_js do %>

		<%= javascript_include_tag('jquery.pajinate') %>
		<%= javascript_include_tag('group_new') %>
<% end %>

				<div class="row span10 offset2">
				<h1>Create a new group</h1>
					<%= simple_form_for(@group, :html => { :class => 'form-horizontal' } ) do |f| %>
						<%= f.input :name, :label => 'Name', :required => false, :input_html => { :style => 'width:300px;', } %>
						<%= f.input :description, :label => 'Description', :required => false, :input_html => { :style => 'width:300px;', :rows => 5 } %>
						<%= render 'shared/multi_select', items: @users, type: 'users', preselected_ids: @preselected_ids, show_current_user: false %>
						<%= f.input :users, :as => :hidden %>
						<%= f.button :wrapped, 'Create' %>
					<% end %>
				</div>
