<% @page_title = @group.name %>

<% content_for :page_css do %>
<% end %>
<% content_for :page_js do %>

		<%= javascript_include_tag('group_show') %>
		<%= javascript_include_tag('jquery.pajinate') %>
<% end %>

				<div class="container-fluid span3">
					<%= render 'group_left_panel', group: @group %>
				</div>
				
				<div class="container-fluid span5">
					<%= render 'group_center_panel', micropost: @micropost, microposts: @microposts %>
				</div>
				
				<div class="container-fluid span4">
					<%= render 'group_right_panel', members: @members, group: @group, task: @task, tasks: @tasks %>
				</div>
