
<% user ||= @user %>
<% datafile ||= user.datafiles.new %>
<% groups ||= user.confirmed_groups.sort_by(&:name) %>
<% mode ||= 'Create' %>

<% if mode == 'Create' %><% url = user_datafiles_path(user)%><% elsif mode == 'Edit' %><% url = user_datafile_path(user, datafile) %><% end %>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3><%= mode %> Datafile</h3>
</div>
<div class="modal-body" style="overflow: visible;">
	<%= simple_form_for datafile, :url => url, :multipart => mode == 'Create', :remote => true, :html => {:'data-update-target' => 'new-datafile'} do |f| %>
		<%= f.association :groups, :collection => groups, :selected => datafile.groups.map(&:id), :label => 'Share with group(s):', :input_html => { 'data-placeholder'=> 'No groups selected (private)', :style => "width:514px;", :class => 'edit_datafile_groups', :id => "datafile-#{datafile.id || 'new'}" } %>
		<%= f.input :description, :label => 'Description', :required => false, :input_html => { :style => 'width:500px;', :rows => 5 } %>
		<% if mode == 'Create' %>
		<%= f.input :datafile, :as => :file, :label => 'File:', :required => true %>
		<% else %>
		<%= f.input :datafile, :input_html => {:value => "#{datafile.filename}", :style => 'width:500px;'}, :label => "Filename", :required => false, :readonly => true %>
		<% end %>
	<% end %>
</div>
<div class="modal-footer">
	<input class="btn btn-primary" name="commit" type="submit" value="Submit">
</div>
