
						<% @user ||= current_user %>
						<div class="user-management">
						<% if !current_user?(user) %>
							<% if current_user.following?(user) %>
								<%= form_for(current_user.relationships.find_by_followed_id(user), html: { method: :delete }, remote: true) do |f| %>
									<%= f.submit "Unfollow", class: "btn" %>
								<% end %>
							<% else %>
								<%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
									<div><%= f.hidden_field :followed_id %></div>
									<%= f.submit "Follow", class: "btn btn-primary" %>
								<% end %>
							<% end %>
							
							<% if current_user.admin? && !current_user?(user) %>
								 <%= link_to "Delete", user, :method => :delete, :data => { :confirm => 'You sure?' } %>
							<% end %>
							</a>
						<% else %>
							<span class="info">This is you. <% if current_user.admin? %> You have admin rights. <% end %></span>
						<% end %>
						</div>

