
<% group ||= @group %>
<% user ||= @user %>
<div id="<%=group.id%>" class="listing-panel">
	<div class="group-info-small">
	<% if user == group.creator %>
		<i class="icon-star-empty"></i>	
	<% elsif group.confirmed_member?(user) %>
		<i id="<%=group.id%>" class="icon-group"></i>
	<% else %> 
		<i id="<%=group.id%>" class="icon-group faded"></i>
	<% end %>
		<a href="/groups/<%= group.id %>"><%= group.name %></a>
		<span class="gray"> by <% if user == group.creator %> You <% else %> <%= group.creator.name %> <% end %></span>
	</div>

	<div class="icon-panel">
	<% if not group.confirmed_member?(user) %>
		<i id="<%=group.id%>" class="accept icon-thumbs-up"></i>
		<i id="<%=group.id%>" class="decline icon-thumbs-down"></i>
		<i id="<%=group.id%>" class="disabled icon-signout"></i>
	<% else %>
		<i id="<%=group.id%>" class="disabled icon-thumbs-up"></i>
		<i id="<%=group.id%>" class="disabled icon-thumbs-down"></i>
		<% if user == group.creator %>
		<i id="<%=group.id%>" class="disabled icon-signout"></i>
		<% else %>
		<i id="<%=group.id%>" class="leave icon-signout"></i>
		<% end %>
	<% end %>
	<% if user == group.creator %>
		<i id="<%=group.id%>" class="delete icon-remove"></i>
	<% else %>
		<i id="<%=group.id%>" class="disabled icon-remove"></i>
	<% end %>
	</div>
</div>

