
<% user ||= @user %>
<% confirmed_groups ||= @confirmed_groups %>
<% all_groups_length ||= @user.groups.length %>
<% show_listing_on_load ||= false %>
<div class="title-bar">
	<div class="drop-panel">
		<i id="collapse-groups" class="icon-chevron-down"></i>
	</div>
	<div class="title-panel">
		<span class="title"> Groups </span>
	</div>
	<div class="icon-panel">
		<i class="icon-number"> <%= confirmed_groups.count %> </i>
		
		<i class="icon-plus" data-toggle="modal" data-target="#new-group"></i>
		<i class="icon-list<% if confirmed_groups.length != all_groups_length %> pulsate <% end %><% if all_groups_length == 0  %> disabled<% end %>" data-toggle="modal" data-target="#edit-groups"></i>
	</div>
</div>
<div id="edit-groups" class="modal hide fade">
	<%= render 'users/group_management_form', groups: @user.groups.order(:name) %>
</div>

<div id="new-group" class="modal hide fade">
	<%= render 'groups/group_form' %>
</div>

<div id="group-listing" <% if not show_listing_on_load %> style="display:none;" <% end %>>
	<% if confirmed_groups.any? %>
	<ul class="groups">
		<%= render confirmed_groups %>
	</ul>
	<%= will_paginate confirmed_groups, :param_name => 'confirmed_groups_paginate' %>
	<% end %>
</div>
