
<% user ||= @user %>
<% confirmed_groups ||= @confirmed_groups %>
<% all_groups ||= @all_groups %>
<% show_listing_on_load ||= false %>
<div class="title-bar">
	<div class="drop-panel">
		<i id="collapse-groups" class="icon-chevron-down"></i>
	</div>
	<div class="title-panel">
		<span class="title"> Groups </span>
	</div>
	<div class="icon-panel">
		<i class="icon-number"> <%= user.confirmed_groups.count %> </i>
		
		<i class="icon-edit <% if confirmed_groups.length != all_groups.length %> pulsate <% end %>" onclick="$('#manage-members').modal('show'); return false;"></i>
		<i id="add-group" class="icon-plus" onclick="$('#new-group').modal('show'); return false;"></i>
	</div>
</div>

<div id="manage-members" class="modal hide">
	<%= render 'group_management_form', groups: all_groups, type: 'groups' %>
</div>

<div id="new-group" class="modal hide fade">
	<%= render 'groups/group_form' %>
</div>

<div id="group-listing" <% if not show_listing_on_load %> style="display:none;" <% end %>>
	<% if confirmed_groups.any? %>
	<ul class="groups">
		<%= render confirmed_groups, user: user %>
	</ul>
	<%= will_paginate confirmed_groups, :param_name => 'confirmed_groups_paginate' %>
	<% end %>
</div>
