

					<div class="row-fluid">
						<h3> Groups (<%= groups.count %>)
							<span id="manage" class="btn btn-primary">
								Manage
							</span>
						</h3>
						<div>
							<ul class="groups">
								<%= render groups %>
							</ul>
							<%= will_paginate groups, :param_name => 'groups_paginate' %>
						</div>
					</div>
					<hr>

					<div class="row-fluid">
						<h3> Microposts (<%= microposts.count %>)
							<span id="add-micropost">
								<i class="icon-plus-sign"></i>
							</span>
						</h3>
						<div id="new-micropost" style="display:none">
							<%= render 'shared/micropost_form', micropost: micropost %>
							<hr>
						</div>
					</div>

					<div class="row-fluid">
						<% if microposts.any? %>
							<ol class="microposts">
								<%= render :partial =>'shared/micropost', :collection => microposts %>
							</ol>
						<%= will_paginate microposts, :param_name => 'microposts_paginate' , :inner_window => 1, :outer_window => 1 %>
						<% end %>
					</div>
