
<% user ||= @user %>
<div class="user-info-large">
		<%= gravatar_for user, :size =>65 %>
		<span id="user-name">
		<% if user.admin? && !current_user?(user) %>
			<a href="/users/<%=user.id%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow", class="delete"><i class="icon-remove"></i></a>
		<% end %>
			<%= user.name %>
		</span>
		<span id="user-institution"><%= user.institution %></span>
		<span id="user-email"><%= user.email %></span>
</div>

