

					<div class="row-fluid my-user">
						<%= render 'user_info', user: user %>
						<%= render 'shared/stats' %>
					</div>
					<hr>
					<div class="row-fluid">
						<h3> Collaborators </h3>
						<ol class="collaborators">
							
						</ol>
					</div>
					<hr>
					<div class="row-fluid">
						<h3>Microposts (<%= user.microposts.count %>)</h3>
						<% if user.microposts.any? %>
						<ol class="microposts">
							<%= render @microposts %>
						</ol>
						<%= will_paginate @microposts, :page_links => false %>
						<% end %>
					</div>
