
<% user ||= @user %>
<% show_panels_on_load ||= false %>
<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<%= render 'user_info' %>
		</div>
		<!--
		<div class="row-fluid">
			<%= render 'shared/stats' %>
		</div>
		-->
	</div>
</div>
<hr>

<div id="group-panel" class="row-fluid">
	<%= render 'users/group_panel' %>
</div>
<hr>

<div id= "datafile-panel" class="row-fluid">
	<%= render 'shared/datafile_panel', viewer: @user %>
</div>
<hr>


<div id= "job-panel" class="row-fluid">
	<%= render 'shared/job_panel', viewer: @user %>
</div>
