
						<li id="<%=user.id%>" class="ui-selectee">
						<a href="?user_filter=<%= user.id %>">
							<%= gravatar_for user, :size =>20 %>
							<span class="display-User"><%= user.name %></span>
							<span class="gray"><%= user.institution %></span>
						</a>
						</li>

