

					<div class="row-fluid">
						<div class="span5">
							<span class="title"> Groups (<%= confirmed_groups.count %>)</span>
						</div>
						<div class="span5 icon-panel">
							<i id="add-group" class="icon-plus"></i>
							<i class="icon-edit <% if @confirmed_groups.length != @all_groups.length %> pulsate <% end %>" onclick="$('#manage-members').modal('show'); return false;"></i>
						</div>
						<div id="manage-members" class="modal hide">
							<%= render 'group_management_form', groups: @all_groups, type: 'groups' %>
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="span12">
							<ul class="users">
								<%= render confirmed_groups, current_user: current_user %>
							</ul>
							<%= will_paginate confirmed_groups, :param_name => 'confirmed_groups_paginate' %>
						</div>
					</div>
					<hr>

					<div class="row-fluid">
						<div class="span5">
							<span class="title"> Microposts (<%= microposts.count %>)</span>
						</div>
						<div class="span5 icon-panel">
							<i id="add-group" class="icon-plus" onclick="$('#new-post').modal('show'); return false;"></i>
							<i id="add-micropost" class="icon-filter"></i>
						</div>

					</div>
					<div id="new-post" class="modal hide fade">
						<%= render 'shared/micropost_form', micropost: micropost %>
					</div>

					<div class="row-fluid">
						<div class="span12">
						<% if microposts.any? %>
							<ol class="microposts">
								<%= render :partial =>'shared/micropost', :collection => microposts %>
							</ol>
						<%= will_paginate microposts, :param_name => 'microposts_paginate' , :inner_window => 1, :outer_window => 1 %>
						<% end %>
						</div>
					</div>

