
<% user ||= @user %>
<div class="user-info-large" style="position: relative;" >
	<%= gravatar_for user, :size =>65 %>

	<div class="icon-panel">
		<% if current_user.admin? && !current_user?(user) %>
			<%= link_to raw("<i class='icon-pencil'></i>"), edit_user_path(user) %>			
			<a href="/users/<%=user.id%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow", class="delete"><i class="icon-remove"></i></a>
		<% end %>
					
	</div>		

	<div style="position: absolute; top: 0px; left: 100px" >
		<span id="user-name"><%= user.name %></span>
		<span id="user-institution"><%= user.institution %></span>
		<span id="user-email"><%= user.email %></span>
	</div>
</div>

