<% @page_title = @user.name %>

<% content_for :page_css do %>
<% end %>
<% content_for :page_js do %>

		<%= javascript_include_tag('user_show') %>
		<%= javascript_include_tag('jquery.pajinate') %>
<% end %>

				<div class="container-fluid span3">
					<%= render 'user_panel', user: current_user %>
				</div>
				
				<div class="container-fluid span5">
					<%= render 'tool_panel' %>
				</div>
				
				<div class="container-fluid span4">
					<%= render 'social_panel', groups: @groups, micropost: @micropost, microposts: @microposts %>
				</div>
