<% @page_title = @user.name %>

<% content_for :page_css do %>

		<%= stylesheet_link_tag('chosen/chosen') %>
		<%= stylesheet_link_tag('chosen/chosen-bootstrap-overrides') %>
<% end %>
<% content_for :page_js do %>

		<%= javascript_include_tag('chosen.jquery') %>
		<%= javascript_include_tag('ajax_and_pizzaz') %>
		<%= javascript_include_tag('user_show') %>
<% end %>

<div class="container-fluid span3">
	<%= render 'user_left_panel' %>
</div>

<div id="center-panel" class="container-fluid span5">
	<%= render 'user_center_panel' %>
</div>

<div class="container-fluid span4">
	<%= render 'user_right_panel' %>
</div>
