<% @page_title = @user.name %>

<% content_for :page_css do %>

		<%= stylesheet_link_tag('chosen/chosen') %>
		<%= stylesheet_link_tag('chosen/chosen-bootstrap-overrides') %>
<% end %>
<% content_for :page_js do %>

		<%= javascript_include_tag('user_show') %>
		<%= javascript_include_tag('jquery.pajinate') %>
		<%= javascript_include_tag('chosen.jquery') %>
<% end %>

				<div class="container-fluid span3">
					<%= render 'user_left_panel', user: current_user, jobs: @jobs %>
				</div>
				
				<div class="container-fluid span5">
					<%= render 'user_center_panel' %>
				</div>
				
				<div class="container-fluid span4">
					<%= render 'user_right_panel', all_groups: @all_groups, confirmed_groups: @confirmed_groups, associated_users: @associated_users, micropost: @micropost, microposts: @microposts %>
				</div>
