
<% user ||= @user %>
<li>
	<div class="group-management-panel">
		<div class="group-info-small">
			<a href="/users/<%= user.id %>/datafiles/<%= datafile.id %>">

				<% if datafile.uwf_runnable %>
					<span class="label label-info">UWF</span> 
				<% end %>
				<%= datafile.filename %>
			</a>
		</div>
		<div class="icon-panel">
			<i class="icon-share"></i>
			<% if (user == datafile.owner) %>
			<a href="/users/<%= user.id %>/datafiles/<%= datafile.id %>" data-confirm="You sure?" data-method="delete" class="delete"><i class="icon-remove"></i></a>
			<% end %>
		</div>
	</div>
</li>