
<% user ||= @user %>

<% popover_title = "<span style='font-style:italic;'>" + datafile.filename + "</span>".html_safe %>
<% popover_text = "" %>
<% if datafile.groups.count == 0 %>
	<% popover_text = popover_text + "(Private)" %>
<% else %>
	<% popover_text = popover_text + "Shared with #{datafile.groups.count} group(s)" %>
<% end %>
<% popover_text = popover_text + "<br/>Owned by #{color_tag(datafile.owner)}<br/>#{datafile.description}" %>

<li>
	<div class="listing-panel has-popover content" id="datafile-<%= datafile.id %>" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="<%=popover_text.html_safe%>" data-title="<%=popover_title.html_safe%>">
		<div class="display">
			<p>
				
				<span class="label label-info<% if not datafile.uwf_runnable %> disabled<% end %>">UWF</span> 
				<%= datafile.filename %> <span class="gray"><%= text_tag(datafile.owner) %>
			</p>
		</div>
		<div class="icon-panel">
			<i class="icon-edit" data-toggle="modal" data-target="#edit-datafile-<%=datafile.id%>"></i>
			<% if (user == datafile.owner) %>
			<%= link_to '<i class="icon-remove"></i>'.html_safe, user_datafile_path(user, datafile), :confirm => 'Are you sure?', :method => :delete, :remote => true %>
			<% end %>
		</div>
	</div>
	<div id="edit-datafile-<%=datafile.id %>" class="modal hide fade">
		<%= render 'users/datafile_form', datafile: datafile, mode: 'Edit' %>
	</div>
</li>