
<% user ||= @user %>
<% groups ||= @groups %>
<li>
	<div class="group-management-panel content">
		<div class="group-info-small display">
			<a href="/users/<%= user.id %>/datafiles/<%= datafile.id %>">

				<% if datafile.uwf_runnable %>
					<span class="label label-info">UWF</span> 
				<% end %>
				<%= datafile.description %> (<%= datafile.filename %>)
			</a>
		</div>
		<div class="icon-panel">
			<i class="icon-share" data-toggle="modal" data-target="#edit-datafile-<%=datafile.id%>"></i>
			<% if (user == datafile.owner) %>
			<%= link_to '<i class="icon-remove"></i>'.html_safe, user_datafile_path(user, datafile), :confirm => 'Are you sure?', :method => :delete, :remote => true %>
			<% end %>
		</div>
	</div>
	<div id="edit-datafile-<%=datafile.id%>" class="modal hide fade">
		<%= render 'users/datafile_form', datafile: datafile, groups: groups, mode: 'Edit' %>
	</div>
</li>