
<% user ||= @user %>
<% case job.state.downcase
	   when 'starting'     %><% bar_classes = "bar-warning" %><%  progress_classes = "progress-striped active" %>
	<% when 'progressing'  %><% bar_classes = "bar-success" %><%  progress_classes = "progress-striped active" %>
	<% when 'completed'    %><% bar_classes = ""            %>
	<% when 'failed'       %><% bar_classes = "bar-danger"  %>
<% end %>

<% case job.runner.downcase
	   when 'uwf'         %><% label_classes = "label-info"    %>
	<% when 'otherjob'    %><% label_classes = ""              %>
<% end %>

<li class="clear-fix">
	<div class="container-fluid" style="padding:0px;">
		<div class="row-fluid">
			<div class="content span12">
				<% if (user == job.creator) %>
				<a href="/users/<%= user.id %>/jobs/<%= job.id %>" data-confirm="You sure?" data-method="delete" class="delete"><i class="icon-remove"></i></a>
				<% end %>
			<div>
		</div>
		<a href="/users/<%= user.id %>/jobs/<%= job.id %>">
			<div class="display display-<%= job.state %>">
					<span class="label <%= label_classes %>"><%= job.runner %></span> <%= job.name %>
			</div>
		</a>
		<div class="progress <%= progress_classes %>">
			<div id="<%= job.id %>" class="bar <%= bar_classes %>"></div>
		</div>
		<div class="timestamp">
				<%= time_ago_in_words(job.created_at) %> ago
		</div>
	</div>
</li>