
<% user ||= @user %>
<% case job.state.downcase
	   when 'starting'     %><% bar_classes = "bar-warning" %><%  progress_classes = "progress-striped active" %>
	<% when 'progressing'  %><% bar_classes = "bar-success" %><%  progress_classes = "progress-striped active" %>
	<% when 'completed'    %><% bar_classes = ""            %>
	<% when 'failed'       %><% bar_classes = "bar-danger"  %>
<% end %>

<% case job.runner.downcase
	   when 'uwf'         %><% label_classes = "label-info"    %>
	<% when 'otherjob'    %><% label_classes = ""              %>
<% end %>

<li class="clear-fix">
	<div class="container-fluid" style="padding:0px;">
		<div class="row-fluid">
			<div class="group-management-panel content" style="height:inherit;">
				
				<div class="group-info-small display" style="left:0px;">
					<a href="/users/<%= user.id %>/jobs/<%= job.id %>">
						<div class="display-item display-<%= job.state %>">
								<span class="label <%= label_classes %>"><%= job.runner %></span> <%= job.name %>
						</div>
					</a>
				</div>
				<div class="icon-panel">
					<i class="icon-share"></i>
					<% if (user == job.creator) %>
					<%= link_to '<i class="icon-remove"></i>'.html_safe, user_job_path(user, job), :confirm => 'Are you sure?', :method => :delete, :method => :delete %>
					<% end %>
				</div>
			<div>
		</div>
		<br/>
		<div class="progress <%= progress_classes %>">
			<div id="<%= job.id %>" class="bar <%= bar_classes %>"></div>
		</div>
		<div class="timestamp">
				<%= time_ago_in_words(job.created_at) %> ago
		</div>
	</div>
</li>