
<% user ||= @user %>

<% case job.state.downcase
	   when 'starting'     %><% bar_classes = "bar-warning" %><%  progress_classes = "progress-striped active" %>
	<% when 'progressing'  %><% bar_classes = "bar-success" %><%  progress_classes = "progress-striped active" %>
	<% when 'completed'    %><% bar_classes = ""            %>
	<% when 'failed'       %><% bar_classes = "bar-danger"  %>
<% end %>

<% case job.runner.downcase
	   when 'uwf'         %><% label_classes = "label-info"    %>
	<% when 'otherjob'    %><% label_classes = ""              %>
<% end %>

<% popover_title = "<span style='font-style:italic;'>" + job.name + "</span>".html_safe %>
<% popover_text = "" %>
<% if job.groups.count == 0 %>
	<% popover_text = popover_text + "(Private)" %>
<% else %>
	<% popover_text = popover_text + "Shared with #{job.groups.count} group(s)" %>
<% end %>
<% popover_text = popover_text + "<br/>Owned by #{color_tag(job.creator)}<br/>#{job.description}" %>

<li>
	<div class="listing-panel has-popover content" id="job-<%= job.id %>" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="<%=popover_text.html_safe%>" data-title="<%=popover_title.html_safe%>" style="height:inherit;">
		<div class="display">
			<a href="/users/<%= user.id %>/jobs/<%= job.id %>">
				<div class="display-item display-<%= job.state %>">
						<span class="label <%= label_classes %>"><%= job.runner %></span> <%= job.name %>
				</div>
			</a>
		</div>
		<div class="icon-panel">
			<i class="icon-edit" data-toggle="modal" data-target="#edit-job-<%=job.id%>"></i>
			<% if (user == job.creator) %>
			<%= link_to '<i class="icon-remove"></i>'.html_safe, user_job_path(user, job), :confirm => 'Are you sure?', :method => :delete, :remote => true %>
			<% end %>
		</div>
		<br/>
		<div class="progress <%= progress_classes %>">
			<div id="<%= job.id %>" class="bar <%= bar_classes %>"></div>
		</div>
		<!--<div class="timestamp">
				<%= time_ago_in_words(job.created_at) %> ago
		</div>-->
	</div>
	<div id="edit-job-<%=job.id %>" class="modal hide fade">
		<%= render 'users/job_form', job: job, mode: 'Edit' %>
	</div>
</li>