
<% show_filters ||= false %>
<% recipient_type ||= 'group' %>
<% micropost ||= @micropost %>
<% groups ||= @groups %>
<% users ||= @users %>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>New Micropost</h3>
</div>
<div class="modal-body" style="overflow-y: hidden;">
	<%= simple_form_for micropost, :html => { :class => '' } do |f| %>
	<%= f.input :recipient_type, :as => :hidden, :input_html => { :value => recipient_type } %>
	<% if show_filters == true %>
		<div id="to-box">
			<span style="float: left; margin-right: 10px;">To:</span>
			<span id="to-group" class="highlighted"><i class="icon-group"></i>Group(s)</span>
			<span id="to-user"><i class="icon-user"></i>User(s)</span>
		</div>
		<%= f.association :group_recipients, :collection => groups, :label => false, :input_html => { 'data-placeholder'=> 'All groups currently selected', :style => "width:510px;" } %>
		<%= f.association :user_recipients,  :collection => users, :label => false, :input_html => { 'data-placeholder'=> 'All users currently selected', :style => "width:510px;" } %>
	<% else %>
		<%= f.association :group_recipients, :collection => [group], :label => false, :as => :hidden %>
		<%= f.association :user_recipients, :collection => [], :label => false, :as => :hidden %>
	<% end %>
		<%= f.input :content, :label => "Message:", :as => :text, :placeholder => "Compose a new micropost...", :input_html => { :rows => 4, :style => 'width:500px; margin:0px; padding:5px 5px;' }, :required => false %>
</div>
<div class="modal-footer">
	<input type="submit" class="btn btn-primary" value="Post">
</div>
	<% end %>


