
						<% defined?(show_current_user) || show_current_user = true %>
						<div class="control-group optional">
							<label class="text optional control-label">Select Members</label>
							<div id="page_container" class="controls">
								<input type="text" id="user_search" class="small search-query" placeholder="Search for a user">
								<ul id="selectable-<%= type %>" class="selectable <%= type %> content" style="display:none;">
									<%= render items, show_current_user: show_current_user %>
								</ul>
								<!--<div class="page_navigation pagination"></div>-->
							</div>
							<input id="preselected-<%= type %>" type="hidden" value="<%= preselected_ids %>">
						</div>

