<% job ||= @job %>
<% image_tag = @image_tag %>
<% image_path = @image_path %>
<div id="circos_panel" style="float:left; width:30%; padding: 20px;">
	<div id='image-parameters-fs'>

<%= job.creator.redis_key + "  " %>
<%= job.redis_key %>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Parameter</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td><td><%= job.name %></td>
				</tr>
				<tr>
					<td>Description</td><td><%= job.description %></td>
				</tr>
				<% job.get_parameters.each do |parameter, value| %>
					<% parameter = parameter.titlecase %>
					<% if parameter == 'Circos Root Url' %><% next %><% end %>
					<% if parameter == 'Circos Root' %><% next %><% end %>
					<% if parameter == 'Emma Type' %><% parameter = 'Algorithm' %><% end %>
					<% if parameter == 'Snp Set' %><% parameter = 'SNP set' %><% end %>
					
					<% # The Image Parameters hash contains all image parameters, but shouldn't be shown. A jquery ajax call is used instead %>
					<% if parameter == 'Image Parameters' %>
						<% value.each do |tag, tag_vals| %>
							<% if not (tag == image_tag) %><% next %><% end %>
							<% tag_vals.each do |tag_param, tag_val| %>
								<% if tag_param.titlecase == "Image Download" %><% tag_val = "<a href=\"#{tag_val}\">Download</a> (Right click, Save Link as)".html_safe %><% end %>
								<% if tag_val == -1 %><% tag_val = 'All' %><% end %>
								<% if (tag_param == 'start_pos' || tag_param == 'stop_pos') && tag_val == 'All' %><% next %><% end %>
								<tr>
									<td><%= tag_param.titlecase %></td><td><%= tag_val %></td>
								</tr>
							<% end %>
						<% end %>
						<% next %>
					<% end %>
					
					
					<tr>
						<td><%= parameter %></td><td><%= value %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="btn btn-primary" onclick="$('#circos_legend').show();">Figure Legend</div>
	
	<div id="circos_hints">
		<h5>Click on any segment to begin generating a full view of that area. <br/>
			After a few moments the segment will loaded and stop flashing. <br/>
			You can then click on it again to see the full view <br/>
			Light yellow areas have already been generated and are ready to view.
		</h5>
	</div>
</div>

<div id="circos_legend" style="display: none; position: absolute; background: white; height:100%; width:84%; padding: 50px 8%;">
	<h3> Legend </h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Track</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="/snp_density_closeup.png" style="height:175px; width:350px"  /></td>
				<td>
					The SNP density track indicates the
					number of SNPs in each bin relative
					to other bins. Warmer colors indicate 
					greate SNP density.
				</td>
			</tr>
			<tr>
				<td><img src="/mhp_closeup.png" style="height:175px; width:350px" /></td>
				<td>
					The Manhattan plot track shows the
					scores (-log p-value) of the best SNP
					in each bin. Warmer colors also 
					indicate better scoring SNPs. 
				</td>
			</tr>
			<tr>
				<td><img src="/ensembl_closeup.png" style="height:175px; width:350px"  /></td>
				<td>
					The Annotation track uses subtracks
					to indicate SNP type for the best
					SNP of each bin. These annotations
					are retrieved from Ensembl.
				</td>
			</tr>
			<tr>
				<td><img src="/genes_closeup.png" style="height:175px; width:350px"  /></td>
				<td>
					The Gene track indicates the closest gene
					to each best SNP of a bin, and the name is
					scaled larger as the distance between the 
					gene center and the SNP position decrease.
				</td>
			</tr>
		</tbody>
	</table>
	<div class="btn btn-primary" onclick="$('#circos_legend').hide();">Close</div>
</div>

<iframe name= "<%= image_tag%>" id="circos_img" src="<%= image_path %>" type='image/svg+xml' style='border: 0px;'></iframe>