
<% job ||= @job %>
<% show_image_params ||= false %>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Parameter</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td><td><%= job.name %></td>
		</tr>
		<tr>
			<td>Description</td><td><%= job.description %></td>
		</tr>
		<% job.get_parameters.each do |parameter, value| %>
		<% # The Image Parameters hash contains all image parameters, but shouldn't be shown. A jquery ajax call is used instead %>
		<% if parameter.titlecase == 'Image Parameters' and show_image_params == false %>
			<% next %>
		<% elsif parameter.titlecase == 'Image Parameters' %>
			<% parameter.each do |i_param, i_val| %>
			<% if i_val == -1 %><% i_val = 'All' %><% end %>
			<tr>
				<td><%= i_param.titlecase %></td><td><%= i_val %></td>
			</tr>
		<% end %>
		<tr>
			<% if parameter.titlecase == 'Circos Root Url' %>
				<td>Circos Image (SVG)</td><td><a href="<%= value %>/circos.svg">Download</a></td>
			<% else %>
				<td><%= parameter.titlecase %></td><td><%= value %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>