
<% job ||= @job %>
<span id="job_id" style="display:none;"><%= job.id %></span>
<span id="job_root_path" style="display:none;"><%= job.get_parameter('circos_root_url') %></span>

<% if job.state == 'Completed' %>
	<!--NOTE: This also should be done when the progress controller redirects to show instead of returning JSON, 
	This causes the check_progress() JS function to stop the timer as an error function
	-->
	<% content_for :page_js do %>
		<%= javascript_include_tag('interactive_circos_plot') %>
	<% end %>
	<div class="row-fluid" style = "">
		<div id="fs-container" onclick="full(document.getElementById('fs'))"  onmouseover="this.style.cursor='pointer'">
			<center>
			<div id="fs" style="border: 1px solid #ddd; border-radius: 5px;">
				<%= image_tag(File.join(job.get_parameter('circos_root_url'),'circos.png'), :id => 'circos_thumb', :width => '55%')%>
				<h3>Click here for full screen interactive mode</h3>
			</div>
			</center>
		</div>
	</div>
<% elsif job.state == 'Progressing' || job.state == 'Starting'%>
	<% content_for :page_js do %>
			<%= javascript_include_tag('uwf_show') %>
	<% end %>z
	<div class="row-fluid" style = "">
		<h3 style="padding-left: 20px;"><i class="icon-spinner icon-spin"></i> Job State:</h3>
		<!--<script type="text/javascript"> window.job_id = '<%= job.id %>';</script>-->
		<div id="job-progress" style="padding-left: 20px">
			<ul>
				<li id="starting" class="incomplete">Starting</li>
				<li id="configuring-gwa" class="incomplete">Configuring <%= job.get_parameter('emma_type') %></li>
				<li id="starting-gwa" class="incomplete">Starting <%= job.get_parameter('emma_type') %>
					<ul>
						<li id="reading-phenotypes" class="incomplete">Reading phenotypes</li>
						<li id="processing-phenotypes" class="incomplete">Processing phenotypes</li>
						<li id="processing-genotypes" class="incomplete">Processing genotypes</li>
						<li id="running-associations" class="incomplete">Running associations</li>
						<li id="post-processing" class="incomplete">Post processing</li>
					</ul>
				</li>
				<li id="configuring-circos" class="incomplete">Configuring Circos</li>
				<li id="starting-circos" class="incomplete"> Starting Circos</li>
					<ul>
						<li id="populating-tracks" class="incomplete">Populating tracks</li>
						<li id="generating-datapoints" class="incomplete">Generating datapoints</li>
						<li id="drawing-image" class="incomplete">Drawing the full genome Circos plot</li>
						<li id="completed" class="incomplete">Completed!</li>
					</ul>
				<li>
		</div>
	</div>
	
<% elsif job.state == 'Failed' %>
	<% content_for :page_js do %>
			<%= javascript_include_tag('uwf_show') %>
	<% end %>
	<div class="row-fluid" style = "">
		<h3 style="padding-left: 20px;"><i class="icon-exclamation error"></i> Job State:</h3>
		<div id="job-errors">
			<ul>
				<% job.runtime_errors.each do |e| %>
					<li><%= e %>
				<% end %>
			</ul>
		</div>
		<!--<script type="text/javascript"> window.job_id = '<%= job.id %>';</script>-->
		<div id="job-progress" style="padding-left: 20px">
			<ul>
				<li id="starting" class="incomplete">Starting</li>
				<li id="configuring-gwa" class="incomplete">Configuring <%= job.get_parameter('emma_type') %></li>
				<li id="starting-gwa" class="incomplete">Starting <%= job.get_parameter('emma_type') %>
					<ul>
						<li id="reading-phenotypes" class="incomplete">Reading phenotypes</li>
						<li id="processing-phenotypes" class="incomplete">Processing phenotypes</li>
						<li id="processing-genotypes" class="incomplete">Processing genotypes</li>
						<li id="running-associations" class="incomplete">Running associations</li>
						<li id="post-processing" class="incomplete">Post processing</li>
					</ul>
				</li>
				<li id="configuring-circos" class="incomplete">Configuring Circos</li>
				<li id="starting-circos" class="incomplete"> Starting Circos</li>
					<ul>
						<li id="populating-tracks" class="incomplete">Populating tracks</li>
						<li id="generating-datapoints" class="incomplete">Generating datapoints</li>
						<li id="drawing-image" class="incomplete">Drawing the full genome Circos plot</li>
						<li id="completed" class="incomplete">Completed!</li>
					</ul>
				<li>
		</div>
	</div>
<% end %>

<br/>
<div id="image-parameters" class="row-fluid">
	<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Parameter</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td><td><%= job.name %></td>
		</tr>
		<tr>
			<td>Description</td><td><%= job.description %></td>
		</tr>
		<% job.get_parameters.each do |parameter, value| %>
			<% # The Image Parameters hash contains all image parameters, and is only shown in full screen mode %>
			<% if parameter.titlecase == 'Image Parameters' || parameter.titlecase == 'Circos Root'%>
				<% next %>
			<% end %>
			<tr>
				<% if parameter.titlecase == 'Circos Root Url' %>
					<td>Circos Image (SVG)</td><td><a href="<%= value %>/circos.svg">Download</a></td>
				<% else %>
					<td><%= parameter.titlecase %></td><td><%= value %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>
