<% @page_title = "Unified Workflow Results" %>

<% content_for :page_css do %>

		<%= stylesheet_link_tag('chosen/chosen') %>
		<%= stylesheet_link_tag('chosen/chosen-bootstrap-overrides') %>
<% end %>
<% content_for :page_js do %>

		<%= javascript_include_tag('interactive_circos_plot') %>
		<%= javascript_include_tag('uwf_show') %>
<% end %>
<span id="job_id" style="display:none;"><%= @job.id %></span>

				<div class="container-fluid span3">
				</div>

				<div class="container-fluid span5">
					<%= render 'uwf_center_panel', user: current_user, jobs: @jobs %>
				</div>

				<div class="container-fluid span4">

				</div>



