<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BerndtLab | Unified Workflow Results</title>

		<!-- Style Sheets -->
		<%= stylesheet_link_tag('bootstrap') %>
		<%= stylesheet_link_tag('bootstrap-responsive.min') %>
		<%= stylesheet_link_tag('jquery-ui/jquery-ui-1.9.1.custom.min') %>
		<%= stylesheet_link_tag('main') %>
		<%= stylesheet_link_tag('circos') %>

		<!-- JS/jQuery libraries -->
		<%= javascript_include_tag('jquery-1.8.2.min') %>
		<%= javascript_include_tag('jquery-ui-1.9.1.custom.min') %>
		<%= javascript_include_tag('bootstrap') %>
		<%= javascript_include_tag('main') %>
		<!--<%= javascript_include_tag('SVGPan') %>
		<%= javascript_include_tag('jquery-svgpan') %>
		<%= javascript_include_tag('circos') %>-->

	</head>

	<body>
		<span id="job_ID" style="display:none;"><%= @job_ID %></span>
		<!-- Navigation Panel -->
		<div id="navigation">
		Hi
		</div>
		
		<div id="plot">
			<!--<iframe id='circos_img' src='/data/<%= @job_ID %>/Plots/circos.svg' type='image/svg+xml' style='border: 0px;'></iframe>-->
			<embed id='circos_img' src='/data/<%= @job_ID %>/Plots/circos.svg' type="image/svg+xml" />
		</div>
	</body>
</html>
