// Flash any notices
<% flash.each do |alert_type, notice| %>
flash_notice("<%= notice %>", "<%= alert_type %>");
<% end %>
var field = '';

// Generate new micropost panel information 
$("#new-micropost").html("<%= escape_javascript(render :partial => 'shared/micropost_form', :locals => { user: @user, micropost: @micropost, show_filters: true }) %>");

// Reattach chosen listeners
<% if @viewer_type == 'User' %>

$('#group_user_ids').chosen({ min_search_term_length: 2 });
$('#micropost_group_recipient_ids').chosen({ min_search_term_length: 2 });
$('#micropost_user_recipient_ids').chosen({ min_search_term_length: 2 });

// Set the selected To: box to groups initially
$('#micropost_user_recipient_ids_chzn').hide();
$('#micropost_recipient_type').val('group');

// Switches to: box between group and user recipients 
$('#to-group').live('click', function() 
{
	$('#to-group').toggleClass("highlighted");
	$('#to-user').toggleClass("highlighted");
	$("#micropost_group_recipient_ids_chzn").toggle();
	$("#micropost_user_recipient_ids_chzn").toggle();
	$('#micropost_recipient_type').val('group');
});
$('#to-user').live('click', function() 
{
	$('#to-group').toggleClass("highlighted");
	$('#to-user').toggleClass("highlighted");
	$("#micropost_group_recipient_ids_chzn").toggle();
	$("#micropost_user_recipient_ids_chzn").toggle();
	$('#micropost_recipient_type').val('user');
});

<% end %>

// Reattach the :remote=>true form submit functionality
attach_submit('#new-micropost');

<% if not @micropost.valid? %>
// Do in model
/*
	<% @micropost.errors.messages.each do |field, errors| %>
		<% if errors.any? %>
			<% if field == "group_recipient" || field == "user_recipient" %>
			field = $('#new-micropost #micropost_<%= field %>_ids_chzn');
			<% else %>
			field = $('#new-micropost #micropost_<%= field %>');
			<% end %>
			field.parent().parent().addClass('error');
			<% errors.each do |error| %>
				<% if error == errors[errors.length-1] %>
					field.after("<p class='help-block'><%= error %></p>")
				<% end %>
			<% end %>
		<% end %>
	<% end %>
*/
<% else %>
$("#new-micropost").modal('hide');
update_div('#micropost-panel');
<% end %>