
<% job ||= @job %>
<span id="job_id" style="display:none;"><%= job.id %></span>

<% if job.state == 'Completed' %>
	<!--NOTE: This also should be done when the progress controller redirects to show instead of returning JSON, 
	This causes the check_progress() JS function to stop the timer as an error function
	-->
	<% content_for :page_js do %>
		<%= javascript_include_tag('interactive_circos_plot') %>
	<% end %>
	<div class="row-fluid" style = "">
		<h3>Download your report</h3>
		<% Dir.glob("#{job.directory}") %>
				<a href="<%= job.directory.split('..')[1] + '/' + 'report.xls' %>" class="btn">Download Now</a>
			<hr>
	</div>

<!-- Job State is Progressing -->

<% elsif job.state == 'Progressing' || job.state == 'Starting'%>
	<div class="row-fluid" style = "">
		<h3 style="padding-left: 20px;"><i class="icon-spinner icon-spin"></i> Job State:</h3>
		<div id="job-progress" style="padding-left: 20px">
			<ul>
				Upstream, in-gene, and downstream snps
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 0%;" id="flanking_complete"></div>
				</div>
				Complete Gene List
				<div class="progress progress-striped active">
  					<div class="bar" style="width: 0%;"  id="complete_complete"></div>
				</div>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
	function doPoll(){
		$.getJSON("/reports/progress/<%= @job.id %>",function(result){
			$.each(result, function(i, field){
				$("#" + i).width(field);
				if (i == 'completed' && field == 'true') { location.reload(); }
			});
			setTimeout(doPoll,250);
	    });
	}
	doPoll()
	</script>
<% end %>

<br/>
<div class="row-fluid">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Parameter</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Name</td><td><%= job.name %></td>
			</tr>
			<tr>
				<td>Description</td><td><%= job.description %></td>
			</tr>
		</tbody>
	</table>
</div>
