<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<%= csrf_meta_tag %>
		<title>BerndtLab | <%= @page_title %></title>

		<!-- Style Sheets -->
		<%= stylesheet_link_tag('http://code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css') %>
		<!-- Bootstrap themes provided by http://www.bootstrapcdn.com/ -->
		<!-- To change the theme, simply replace the bootswatch cdn below --> 
		<!-- <%= stylesheet_link_tag('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css') %> -->
		<%= stylesheet_link_tag('http://netdna.bootstrapcdn.com/bootswatch/2.1.1/cerulean/bootstrap.min.css') %>
		<!-- <%= stylesheet_link_tag('http://netdna.bootstrapcdn.com/bootswatch/2.1.1/spruce/bootstrap.min.css') %> -->
		<!-- <%= stylesheet_link_tag('//netdna.bootstrapcdn.com/bootswatch/2.1.1/spacelab/bootstrap.min.css') %> -->
		<!-- <%= stylesheet_link_tag('//netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css') %> -->
		<!-- <%= stylesheet_link_tag('//netdna.bootstrapcdn.com/bootswatch/2.1.1/united/bootstrap.min.css') %>  -->
		
		<%= stylesheet_link_tag('main') %>
		<%= yield :page_css %>

		<!-- JS/jQuery libraries -->
		<%= javascript_include_tag('http://code.jquery.com/jquery-1.9.0.min.js') %>
		<%= javascript_include_tag('http://code.jquery.com/jquery-migrate-1.0.0.min.js') %>
		<%= javascript_include_tag('http://code.jquery.com/ui/1.8.24/jquery-ui.min.js') %>
		<%= javascript_include_tag('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js') %>
		<%= javascript_include_tag('main') %>
		<%= yield :page_js %>
				
	</head>

	<body>
		<% if notice %>
		<div id="notice" class="alert fade in"><button type="button" class="close" data-dismiss="alert">×</button><%= notice %></div>
		<% end %>
		
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/phenotypes">Mouse Genetics Server</a>
					<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i> Clint Cario
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to('Profile', '/') %></li>
							<li class="divider"></li>
							<li><a href="#">Sign Out</a></li>
						</ul>
					</div>
					<div class="nav-collapse">
						<ul class="nav">
							<li><%= link_to('Home', '/home') %></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">About<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><%= link_to('Publications', '/publications') %></li>
										<li><%= link_to('Screencasts', '/screencasts') %></li>
										<li><%= link_to('Tool Description', '/tool_descriptions') %></li>
									</ul>
							</li>
							
							<li><%= link_to_function('Contact',"$('#contact').modal('show')") %></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container-fluid" style="padding:0px;">
			<div class="row-fluid">
				<%= yield %>
			</div>
		</div> <!-- /container -->
		

		<div class="bottom-bar">
			<div class="bottombar-inner">
				<div class="container">
					<p><center>(c) 2012 University of Pittsburgh, Berndt Lab</center></p>
				</div>
			</div>
		</div>
	
	
		<div id="contact" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Feedback Form</h3>
			</div>
			<div class="modal-body">
			<%= simple_form_for(:contact_form, :url => 'contact', :html => { :id => 'contact_form', :class => 'form-horizontal', :style => 'margin:0px; width: 95%;' } ) do |f| %>
			<fieldset>
				<%= f.input :type, :collection => [ 'Comment', 'Complement', 'Problem', 'Question' ], :selected => 'Comment', :label => 'What type of feedback would you like to give?', :input_html => { :style => 'width: 99%;' } %>
				<%= f.input :response, :as => :text,  :input_html => { :rows => 3, :style => 'width: 95%;' } %>
				<%= f.input :name, :input_html => { :style => 'width: 95%;' } %>
				<%= f.input :email, :input_html => { :style => 'width: 95%;' } %>

				<%= f.input :attitude, :collection => ['Delighted', 'Enthusiastic' 'Excited', 'Glorious', 'Happy', 'Lucky', 'Thankful', 'Successful', 'Angry', 'Bewildered', 'Bored', 'Helpless', 'Perplexed', 'Tired', 'Upset' ], :selected => 'Delighted', :label => 'How do you Feel right now?', :input_html => { :style => 'width: 99%;'} %>
			</fieldset>
			<% end %>
			<div class="modal-footer">
				<button class="btn btn-primary" onclick="submitCommentForm()">Contact Us</button>
			</div>

			</div>
		</div>
	
	
	<!--
		<div id="contact" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Feedback Form</h3>
		</div>
	
		<form class=".form-horizontal" style="margin:0px;" action="contact" method="post">
		<div class="modal-body">
			<label for="type">What type of feedback would you like to give?</label>
			<select id="type" style="width:529px;">
				<option value="problem">Problem</option>
				<option value="comment">Comment</option>
				<option value="question">Question</option>
				<option value="complement">Complement</option>
			</select>

			<label for="response">What would you like to say?</label>
			<textarea id="response" style="width:515px;" rows="3"></textarea>

			<label for="name">Name</label>
			<input type="text" id="name" style="width:515px;" placeholder="Your name">

			<label for="email">Email</label>
			<input type="text" id="email" style="width:515px;" placeholder="Your email address">

			<label for="attitude">How do you Feel right now?</label>
			<select id="attitude" style="width:529px;" >
				<option value="delighted">Delighted</option>
				<option value="enthusiastic">Enthusiastic</option>
				<option value="excited">Excited</option>
				<option value="glorious">Glorious</option>
				<option value="happy">Happy</option>
				<option value="lucky">Lucky</option>
				<option value="thankful">Thankful</option>
				<option value="successful">Successful</option>
				<option value="angry">Angry</option>
				<option value="bewildered">Bewildered</option>
				<option value="bored">Bored</option>
				<option value="helpless">Helpless</option>
				<option value="perplexed">Perplexed</option>
				<option value="tired">Tired</option>
				<option value="upset">Upset</option>
			</select>

		</div>
		<div class="modal-footer">
			<button type="submit" class="btn">Contact Us</button>
		</div>
		</form>
	</div>
	-->
	</body>
</html>
