<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>
		<title>BerndtLab | <%= @page_title %></title>

		<!-- Style Sheets -->
		<%= stylesheet_link_tag('http://code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css') %>
		<!-- Bootstrap themes provided by http://www.bootstrapcdn.com/ -->
		<!-- To change the theme, simply replace the bootswatch cdn below --> 
		<%= stylesheet_link_tag('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css') %>
		<!-- <%= stylesheet_link_tag('http://netdna.bootstrapcdn.com/bootswatch/2.1.1/cerulean/bootstrap.min.css') %> -->
		<!-- <%= stylesheet_link_tag('http://netdna.bootstrapcdn.com/bootswatch/2.1.1/spruce/bootstrap.min.css') %> -->
		<!-- <%= stylesheet_link_tag('//netdna.bootstrapcdn.com/bootswatch/2.1.1/spacelab/bootstrap.min.css') %> -->
		<!-- <%= stylesheet_link_tag('//netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css') %> -->
		<!-- <%= stylesheet_link_tag('//netdna.bootstrapcdn.com/bootswatch/2.1.1/united/bootstrap.min.css') %>  -->
		<!-- For font-awesome -->
		<%= stylesheet_link_tag('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css') %>
		
		<%= stylesheet_link_tag('main') %>
		<%= yield :page_css %>

		<!-- JS/jQuery libraries -->
		
		<%= javascript_include_tag('http://code.jquery.com/jquery-1.9.0.min.js') %>
		<%= javascript_include_tag('http://code.jquery.com/jquery-migrate-1.0.0.min.js') %>
		<%= javascript_include_tag('http://code.jquery.com/ui/1.8.24/jquery-ui.min.js') %>
		<%= javascript_include_tag('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js') %>
		<%= javascript_include_tag('rails') %>
		<%= javascript_include_tag('main') %>
		<%= javascript_include_tag('jquery.jtruncate.pack') %>

		<%= yield :page_js %>
	</head>

	<body>
		<div id="flash_notice">
			<%= render 'layouts/flash' %>
		</div>
		
		<%= render 'layouts/navbar' %>
		
		<div class="container-fluid" style="padding:0px;">
			<div class="row-fluid">
				<%= yield %>
			</div>
		</div>
		
		<%= render 'layouts/bottombar' %>
		<% debug(params) if Rails.env.development? %>
		
		<%= render 'layouts/contactform' %>
	</body>
</html>
