<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>BerndtLab | <%= @page_title %></title>

		<!-- Style Sheets -->
		<%= stylesheet_link_tag('bootstrap') %>
		<%= stylesheet_link_tag('bootstrap-responsive.min') %>
		<%= yield :page_css %>
		<%= stylesheet_link_tag('main') %>

		<!-- JS/jQuery libraries -->
		<%= javascript_include_tag('jquery-1.7.min') %>
		<%= javascript_include_tag('jquery-ui-1.8.16') %>
		<%= javascript_include_tag('bootstrap') %>
		<%= yield :page_js %>
		<%= javascript_include_tag('main') %>
		
	</head>

	<body>
		<% if notice %>
		<div id="notice" class="alert alert-info"><button type="button" class="close" data-dismiss="alert">×</button><span><%= notice %><span></div>
		<% end %>
		
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">Mouse Genetics Server</a>
					<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i> Clint Cario
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to('Profile', '/') %></li>
							<li class="divider"></li>
							<li><a href="#">Sign Out</a></li>
						</ul>
					</div>
					<div class="nav-collapse">
						<ul class="nav">
							<li><%= link_to('Home', '/') %></li>
							<li><%= link_to('About', '/') %></li>
							<li><%= link_to('Contact','/') %></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<%= yield %>
			</div>
		</div> <!-- /container -->
		

		<div class="bottom-bar">
			<div class="bottombar-inner">
				<div class="container">
					<p><center>(c) 2012 University of Pittsburgh, Berndt Lab</center></p>
				</div>
			</div>
		</div>
	
	</body>
</html>
